.StepDiv{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    width: 350px;
    margin: 0 auto;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
    border-color: #f32f58!important;
  
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon >.ant-steps-icon {
    color:black;
    border-color: #f32f58!important;
}
.ant-steps-item-icon{
    background-color: #fff!important;
    color: #999!important;
    border-radius: 50% !important;
    height: 30px !important;
    width: 30px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: 3px solid #e0e0e0 !important;
    transition: .4s ease !important;
    cursor: pointer !important;
    z-index: 99 !important;
}