.submittedDiv {
  background-color: white;
  width: 900px;
  height: max-content;
  text-align: center;
  border-radius: 15px;
}
.thankyouimg {
  width: 50%;
  height: 80%;
  border: none;
  outline: none;
}
.refreshicon {
  cursor: pointer;
}
