.App{
  background-color: #0fae76; 
  background-image: linear-gradient(to right, #383987, transparent); 

  width: 100%;
  /* height: 150vh; */
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.form_div{
  background-color: white;
  height: max-content;
  width: 55%;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.formtitle{
  text-align: center;
}
.individualForms{
  margin-top: 2rem;
  width: 100%;
}
.errorMessage{
  margin-top: 1.5rem;
  text-align: center;
  color: red;
  font-size: larger;
  font-weight: 700;
}
.footer{
  color: white;
}