.App {
  background: linear-gradient(to right, #3cbde0, #3a569f);
  width: 100%;

  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
}
.form_div {
  background-color: white;
  height: max-content;
  width: 55%;
  border-radius: 1rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  margin: 2rem 0;
}
.formtitle {
  text-align: center;
  font-size: 1.5rem;

  font-weight: 700;
}
.individualForms {
  width: 100%;
}
.errorMessage {
  margin-top: 1.5rem;
  text-align: center;
  color: red;
  font-size: larger;
  font-weight: 700;
}
.footer {
  color: white;
}
.Rankroverdiv {
  padding-top: 1.5rem;
}
